
.leader-table {
  width: 300px;
}

a.player_link {
  color: white;
  font-weight: bold;
}

#image-footer {
  height: 400px;
  background-color: #252525;
}

.d-block {
  color: white;
  top: 10px;
}

.leader-group {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.leader-table h2 {
  text-align: center;
  font-size: 30px;
  color: black;
}

.Home {
  width: auto ;
  max-width: 100% ;
  height: auto;
}

@keyframes fadeIn {
  0%   {opacity: 0%}
  10%   {opacity: 10%}
  20%  {opacity: 20%}
  30%   {opacity: 30%}
  40%  {opacity: 40%}
  50%   {opacity: 50%}
  60%  {opacity: 60%}
  70%   {opacity: 70%}
  80%  {opacity: 80%}
  90%   {opacity: 90%}
  100% {opacity: 100%}
}

@keyframes bounce {
  0% {top: 10%}
  10% {top: 11.5%}
  20% {top: 13%}
  30% {top: 14.5%}
  40% {top: 16%}
  50% {top: 17.5%}
  60% {top: 19%}
  70% {top: 20.5%}
  80% {top: 22%}
  90% {top: 21%}
  100% {top: 20%}
}

.top-right {
  position: absolute;
  top: 20%;
  right: 60%;
  font-size: 40px;
  color: white;
  animation-name: fadeIn, bounce;
  animation-duration: 0.7s;
  font-weight: 700;
}

#carouselExampleIndicators {
  height: 70vh;
}

.d-block {
  height: 70vh;
}

.footer-dark {
  padding:50px 0;
  color:#f0f9ff;
  background-color:#282d32;
}

.footer-dark h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-dark ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-dark ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.6;
}

.footer-dark ul a:hover {
  opacity:0.8;
}

@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align:center;
    padding-bottom:20px;
  }
}

.footer-dark .item.text {
  margin-bottom:36px;
}

@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom:0;
  }
}

.footer-dark .item.text p {
  opacity:0.6;
  margin-bottom:0;
}

.footer-dark .item.social {
  text-align:center;
}

@media (max-width:991px) {
  .footer-dark .item.social {
    text-align:center;
    margin-top:20px;
  }
}

.footer-dark .item.social > a {
  font-size:20px;
  width:36px;
  height:36px;
  line-height:36px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  box-shadow:0 0 0 1px rgba(255,255,255,0.4);
  margin:0 8px;
  color:#fff;
  opacity:0.75;
}

.footer-dark .item.social > a:hover {
  opacity:0.9;
}

.footer-dark .copyright {
  text-align:center;
  padding-top:24px;
  opacity:0.3;
  font-size:13px;
  margin-bottom:0;
}
