.tables {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.player-table {
  width: 400px;
  text-align: center;
  padding: 10px;
}

.team-table {
  width: 400px;
  text-align: center;
  padding: 10px;
}

a {
  color: white;
}

a:hover {
  color: white;
}

body {
  background-color: #89909F;
}

.team-name {
  padding: 20px;
  padding-bottom: 5px;
}

.W {
  color: green;
}

.L {
  color: red;
}
