<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% load extras %}

{% block content %}
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static 'standings.css' %}">
  <title></title>
</head>
<body>
  <div class="tables">
    <div class="player-table">
      <br>
      <h2>NL</h2>
      <table class="table table-dark table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">W</th>
            <th scope="col">L</th>
            <th scope="col">W%</th>
          </tr>
        </thead>
        <tbody>
          {% for t in nl_teams %}
          <tr class = "{{ t.warning }}">
            <td>{{ t.1 }}</td>
            <td><a href="/teams/{{ t.0.pk }}">{{t.0.name}}</a></td>
            <td>{{ t.0.wins }}</td>
            <td>{{ t.0.losses }}</td>
            <td>{% get_wp t.0.wins t.0.losses %}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="team-table">
      <br>
      <h2>AL</h2>
      <table class="table table-dark table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">W</th>
            <th scope="col">L</th>
            <th scope="col">W%</th>
          </tr>
        </thead>
        <tbody>
          {% for t in al_teams %}
          <tr class = "{{ t.warning }}">
            <td>{{ t.1 }}</td>
            <td><a href="/teams/{{ t.0.pk }}">{{t.0.name}}</a></td>
            <td>{{ t.0.wins }}</td>
            <td>{{ t.0.losses }}</td>
            <td>{% get_wp t.0.wins t.0.losses %}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>
{% endblock %}
