.tables {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.player-table {
  width: 540px;
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
  height: 700px;
}

.team-table {
  width: 540px;
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
}

a {
  color: white;
}

a:hover {
  color: white;
}

.card-body {
  padding-bottom: 30px;
}

.temp-footer {
  height: 200px;
  background-color: grey;
}

body {
  background-color: #89909F;
}
